.contact-page section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background: #111;
}

.contact-container {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 025px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.contact-container::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}

.contact-container h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-container .contact-row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contact-container .contact-row100 .contact-col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}

.contact-container .contact-row100 .contact-col .contact-inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}

.contact-container .contact-row100 .contact-col .contact-inputBox input,
.contact-container .contact-row100 .contact-col .contact-inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
  resize: none;
}

.contact-container .contact-row100 .contact-col .contact-inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.contact-container
  .contact-row100
  .contact-col
  .contact-inputBox
  input:focus
  + .text,
.contact-container
  .contact-row100
  .contact-col
  .contact-inputBox
  input:valid
  + .text,
.contact-container
  .contact-row100
  .contact-col
  .contact-inputBox
  textarea:focus
  + .text,
.contact-container
  .contact-row100
  .contact-col
  .contact-inputBox
  textarea:valid
  + .text {
  top: -35px;
  left: -10px;
}

.contact-container .contact-row100 .contact-col .contact-inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.contact-container
  .contact-row100
  .contact-col
  .contact-inputBox
  input:focus
  ~ .line,
.contact-container
  .contact-row100
  .contact-col
  .contact-inputBox
  input:valid
  ~ .line {
  height: 100%;
}

.contact-container .contact-row100 .contact-col .contact-inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.contact-container
  .contact-row100
  .contact-col
  .contact-inputBox
  textarea:focus
  ~ .line,
.contact-container
  .contact-row100
  .contact-col
  .contact-inputBox
  textarea:valid
  ~ .line {
  height: 100%;
}

.contact-container .contact-row100 .contact-col input[type="submit"] {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
}

.contact-error {
  border: none;
  padding: 10px 40px;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
  display: none;
  width: 100%;
  height: 49px;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }

  .contact-container h2 {
    font-size: 28px;
  }
}

/*# sourceMappingURL=index.10fb52a5.css.map */
